body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #f5f5f5; /* Light background color */
}

#controls {
  margin-bottom: 20px;
  display: flex;
  gap: 10px; /* Space between the buttons */
}

button, #colorPickerContainer {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  gap: 8px; /* Space between icon and text */
}

button:hover, #colorPickerContainer:hover {
  background-color: #e0e0e0; /* Slightly darker on hover */
  transform: translateY(-2px); /* Lift on hover */
}

button:active, #colorPickerContainer:active {
  background-color: #d0d0d0; /* Darker when pressed */
  transform: translateY(0); /* Reset lift on click */
}

#colorPixels {
  background-color: #4CAF50;
  color: white;
}

#clearPattern {
  background-color: #f44336;
  color: white;
}

#undoLast {
  background-color: #2196F3;
  color: white;
}

#colorPickerContainer {
  background-color: white;
  padding: 10px;
}

#colorPickerContainer i {
  font-size: 24px;
  color: #000;
}

input[type="color"] {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  box-shadow: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}

#canvas-container {
  width: 100vw;
  height: calc(100vh - 60px);
  overflow: auto;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}

#canvas {
  display: grid;
  grid-template-columns: auto repeat(107, 11px) auto;
  gap: 1px;
  padding: 20px;
  box-sizing: border-box;
}

.pixel {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 0.5px solid grey;
  box-sizing: border-box;
}

.pixel.non-selectable {
  border: none;
  background-color: transparent;
}

.pixel.selected {
  border-color: red;
}

.row-label {
  font-size: 8px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none; /* Prevent text selection */
}